<mat-toolbar color="primary">
  <span>Phone System</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/phones" routerLinkActive="active">Phone List</button>
  <button mat-button routerLink="/modify-phone" routerLinkActive="active">Modify Phone</button>
</mat-toolbar>

<div class="app-container">
  <h1>{{ title }}</h1>
  <!--<app-phone-list [phone]="newPhoneList"></app-phone-list>-->
  <!--router outlet to display routed components -->
  <router-outlet></router-outlet>
</div>
