<div class="container">
  <h2>Phone List</h2>
  <table>
    <thead>
    <tr>
      <th>Serial Number</th>
      <th>Product</th>
      <th>Color</th>
      <th>Budget</th>

      <th>Software</th>
      <th>Image</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let phone of PhoneList" [routerLink]="['/phones',phone.serialNumber ]">
      <td>{{ phone.serialNumber }}</td>
      <td>{{ phone | product}}</td>
      <td>{{ phone.color | titlecase}}</td>
      <td>{{phone.budget | currency: 'CAD': "symbol-narrow"}}</td>
      <td>{{ phone.software | lowercase}}</td>
      <td><img [src]="phone.imgPath" alt="{{phone.name}}" width="50" height="50"/> </td>
      <td>
        <button (click)="editPhone(phone.serialNumber)">Edit</button>
        <button (click)="deletePhone(phone.serialNumber)">Delete</button>
      </td>

    </tr>

    </tbody>
  </table>

</div>

<div *ngIf="error" class="error">{{ error }}</div>
